**/*.dll
**/*.exe
build/*
bin-*/*
distrib/build_*/*
**.bak
**.orig
screenshot.bmp
*.pyc
Thumbs.db
OpenGL-tutorial_v*
**.mtl
.DS_Store
*.exe
*.db
*.db-wal
*.vcxproj
*.user
*.filters
*.ipch
*.rule
*.cmake
*.txt
*.tlog
*.check_cache
*.cmd
*.pdb
*.ilk
*.obj
*.log
*.pc
*.sln
*.depend
*.stamp
*.lib
*.bin
OpenGLTutorials-build-Visual2017-64bits/.vs/Tutorials/v15/.suo
*.db-shm
OpenGLTutorials-build-Visual2017-64bits/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
OpenGLTutorials-build-Visual2017-64bits/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
OpenGLTutorials-build-Visual2017-64bits/CMakeFiles/CheckTypeSize/OFF64_T.c
OpenGLTutorials-build-Visual2017-64bits/CMakeFiles/feature_tests.c
OpenGLTutorials-build-Visual2017-64bits/CMakeFiles/feature_tests.cxx
*.list
*.exp
OpenGLTutorials-build-Visual2017-64bits/external/glfw-3.1.2/docs/Doxyfile
OpenGLTutorials-build-Visual2017-64bits/external/glfw-3.1.2/src/glfw_config.h
misc05_picking/misc05_picking_BulletPhysics.exe
misc05_picking/misc05_picking_custom.exe
misc05_picking/misc05_picking_slow_easy.exe
